/* =======================================================
GLOBAL STYLES
======================================================= */

:root {}

/* =======================================================
MOBILE STYLES
======================================================= */

header {
    outline: 1px solid gold;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

nav ul li {
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
}

.hero {
    outline: 1px solid blue;
}

.about {
    outline: 1px solid green;
}

.offerings {
    outline: 1px solid red;
}

.style {
    outline: 1px solid green;
}

.pricing {
    outline: 1px solid purple;
}

.faq {
    outline: 1px solid black;
}

.contact {
    outline: 1px solid orange;
}

.visually-hidden {
    border: 0;
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

#toast-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.toast {
    background-color: gold;
    color: black;
    padding: 15px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.toast.show {
    opacity: 1;
}

hr {
    border: none;
    border-top: 3px double gold;
    color: gold;
    overflow: visible;
    text-align: center;
    height: 5px;
}

hr::after {
    background: white;
    content: "\f679";
    padding: 0 4px;
    position: relative;
    top: -13px;
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
}

/* =======================================================
TABLET STYLES
======================================================= */
@media (min-width: 500px) {}

/* =======================================================
DESKTOP STYLES
========================================================*/
@media (min-width: 1024px) {}