/* =======================================================
GLOBAL STYLES
======================================================= */

:root {}

/* =======================================================
MOBILE STYLES
======================================================= */


/* =======================================================
TABLET STYLES
======================================================= */
@media (min-width: 500px) {}

/* =======================================================
DESKTOP STYLES
========================================================*/
@media (min-width: 1024px) {}